:ruby
  @body_class = "articles-page"

= content_for :header do
  = render partial: 'header'

%section.cx-body
  %ul.article-header
    %li
      %a{:href => "/articles"} 最新
    %li
      %a{:href => "/articles/picked"} 精选
    %li
      %a{:href => "/articles/anonymous"} 匿名
  %section.article-body
    .article-carousel 轮播
    %ul
      = render partial: 'article', collection: @articles
      %li.article-item
        %a{:href => "#"}
          .article-author
            %img.avatar{:src => "/images/avatar.png"}
            %span.name 要啥自行车啊
            %span.fa.fa-ellipsis-h
          %h6.article-title 请教下，PostCSS和rework有什么区别区区别...
          %p.article-content 如果你无法简洁的表达你的想法，那只说明你还不够了解它。如果你无法简洁的表达你的想法，那只说明你还不够了解它解它...
          .article-info
            .like
              .fa.fa-heart-o
              %span 57
            .comment
              .fa.fa-commenting-o
              %span 13
            .time
              %time 12月13日 21:43
      %li.article-item
        %a{:href => "#"}
          .article-author
            %img.avatar{:src => "/images/avatar.png"}
            %span.name 要啥自行车啊
            %span.fa.fa-ellipsis-h
          %h6.article-title 请教下，PostCSS和rework有什么区别区区别...
          %p.article-content 如果你无法简洁的表达你的想法，那只说明你还不够了解它。如果你无法简洁的表达你的想法，那只说明你还不够了解它解它...
          .article-info
            .like
              .fa.fa-heart-o
              %span 57
            .comment
              .fa.fa-commenting-o
              %span 13
            .time
              %time 12月13日 21:43
      %li.article-item
        %a{:href => "#"}
          .article-author
            %img.avatar{:src => "/images/avatar.png"}
            %span.name 要啥自行车啊
            %span.fa.fa-ellipsis-h
          %h6.article-title 请教下，PostCSS和rework有什么区别区区别...
          %p.article-content 如果你无法简洁的表达你的想法，那只说明你还不够了解它。如果你无法简洁的表达你的想法，那只说明你还不够了解它解它...
          .article-info
            .like
              .fa.fa-heart-o
              %span 57
            .comment
              .fa.fa-commenting-o
              %span 13
            .time
              %time 12月13日 21:43

= content_for :footer do
  = render partial: 'footer'

