%section.container
  .row
    .col-xs-10.col-xs-offset-1
      .page-header.text-center
        %h3= @article.title
      %ol.breadcrumb
        %li
          = link_to '首页', articles_path
        %li.active
          = '详情'
        = link_to '编辑', edit_article_path(@article), :class => 'pull-right'

    .col-xs-10.col-xs-offset-1
      %p
        = @article.text

    .col-xs-10.col-xs-offset-1
      %h4 Comments
      = render @article.comments

    .col-xs-10.col-xs-offset-1
      %h4 Add a comments
      = render 'comments/form'

