= form_for @user, url: 'create_login_session' do |f|

  = f.label :name, 'username'
  = f.text_field :name

  = f.label :password, 'password'
  = f.password_field :password

  = check_box_tag :remember_me, params[:remember_me]
  = label_tag :remember_me

  = f.submit 'Login'

- if flash.notice
  %p= flash.notice
