<%= form_for @user do |f| %>
  <%= f.label :name, 'username'%>
  <%= f.text_field :name %>
  <% if @user.errors[:name].any? %>
    <p><%= @user.errors[:name][0] %></p>
  <% end %>
  
  <%= f.label :email, 'email'%>
  <%= f.text_field :email %>
  <% if @user.errors[:email].any? %>
    <p><%= @user.errors[:email][0] %></p>
  <% end %>
  
  <%= f.label :password, 'password'%>
  <%= f.password_field :password %>
  <% if @user.errors[:password].any? %>
    <p><%= @user.errors[:password][0] %></p>
  <% end %>

  <%= f.label :password_confirmation, 'comfirm password'%>
  <%= f.password_field :password_confirmation %>
  <% if @user.errors[:password_confirmation].any? %>
    <p><%= @user.errors[:password_confirmation][0] %></p>
  <% end %>
  
  <%= f.submit 'Sign Up' %>
<% end %>

