.container
  .row
    %h1.text-center 注册
    = form_for @user, html: {:class => 'col col-xs-6 col-xs-offset-3'} do |f|
      .form-group
        = f.label :name, 'username'

        = f.text_field :name, :class => 'form-control'
        - if @user.errors[:name].any?
          %p= @user.errors[:name][0]

      .form-group
        = f.label :email, 'email'
        = f.text_field :email, :class => 'form-control'
        - if @user.errors[:email].any?
          %p= @user.errors[:email][0]

      .form-group
        = f.label :password, 'password'
        = f.password_field :password, :class => 'form-control'
        - if @user.errors[:password].any?
          %p= @user.errors[:password][0]

      .form-group
        = f.label :password_confirmation, 'confirm password'
        = f.password_field :password_confirmation, :class => 'form-control'
        - if @user.errors[:password_confirmation].any?
          %p= @user.errors[:password_confirmation][0]

      .form-group
        = f.submit 'Sign up', :class => 'btn btn-primary btn-block'