%section.container
  .row
    .col-xs-10.col-xs-offset-1
      .page-header.text-center
        %h3= @project.name
      %ol.breadcrumb
        %li
          = link_to '首页', projects_path
        %li.active
          = '详情'
        = link_to '编辑', edit_project_path(@project), :class => 'pull-right'

    .col-xs-10.col-xs-offset-1
      %h4 Todos
      = render @project.todos

    .col-xs-10.col-xs-offset-1
      %h4 Add a todo
      = render 'todos/form'

